* {
    background-color: rgb(25, 51, 105);
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-weight: bold;
}

header,
header * {
    background-color: transparent;
}

header {
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

h1 {
    margin-left: 40px;
    margin-top: 40px;
    font-size: 4em;
    color: aliceblue;
    text-transform: uppercase;
}

h3 {
    position: absolute;
    top: 100px;
    left: 40px;
    color: aliceblue;
}

form {
    align-self: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 20px;
}

input {
    padding: 5px;
    border: 3px solid blueviolet;
    border-radius: 10px;
    font-weight: 4em;
    background-color: white;
    background-color: transparent;
}

input:hover {
    border-color: blueviolet;
    background-color: rgba(48, 48, 48, 0.2);
}

input:focus {
    border-color: blueviolet;
}

label,
input {
    font-size: 1.3em;
}

#display {
    color: aliceblue;
    margin-left: 40px;
    line-height: 2;
}

#idJourJ {
    color: aqua;
    width: 300px;
    text-align: center;
    border: 1px solid aliceblue;
    padding: 20px;
}

#idJourJ h2 {
    font-size: 1.9em;
    line-height: 1;
    text-align: left;
}